.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 178px;
    cursor: pointer;
    user-select: none;
}

.card:hover {
    background-color: #f7f7f7;
}

.text {
    min-height: 50px;
    display: flex;
    align-items: center;
}