.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 178px;
    user-select: none
}

.card_can_preview {
    cursor: pointer;
}

.card_can_preview:hover {
    background-color: #f7f7f7;
}

.text {
    min-height: 50px;
    display: flex;
    align-items: center;
}